<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оновити фільм</title>
</head>
<body>
    <h1>Оновити фільм: {{ movie.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Оновити</button>
    </form>
    <a href="{% url 'movie_list' %}">Повернутись до списку</a>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оновити фільм</title>
    <!-- Підключення Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Оновити фільм: {{ movie.title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Назва фільму</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="id_description">Опис</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="id_release_date">Дата виходу</label>
                {{ form.release_date }}
            </div>
            <div class="form-group">
                <label for="id_director">Режисер</label>
                {{ form.director }}
            </div>
            <div class="form-group">
                <label for="id_genre">Жанр</label>
                {{ form.genre }}
            </div>
            <div class="form-group">
                <label class="form-label">Image</label>
                <input type="file" name="photo" class="form-control" placeholder="Choose photo of film">
            </div>
            <button type="submit" class="btn btn-primary">Оновити</button>
        </form>
        <a href="{% url 'movie_list' %}" class="btn btn-secondary mt-3">Повернутись до списку</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

